.advantages__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  @include md-size {
    margin-bottom: 70px;
    font-size: 60px;
  }
}

.advantages__item-text {
  @include font-family($secondary-font, "Tahoma");
  margin: 0;

  color: $dark-grey-color;

  line-height: 18px;

  @include md-size {
    position: relative;
    z-index: 20;
    color: $dark-grey-color;
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 21px;
  padding-bottom: 5px;
  padding-left: 80px;

  @include md-size {
    width: 245px;
    margin-right: 138px;
    margin-bottom: 133px;
    padding: 0;
    padding-top: 113px;
    padding-left: 0;
  }

  @include lg-size {
    width: 235px;
    margin-right: 90px;
    padding-top: 112px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(2n) {
    margin-right: 0;

    @include lg-size {
      margin-right: 90px;
    }
  }

  &:nth-child(4n) {
    @include lg-size {
      margin-right: 0;
    }
  }

  &:nth-last-child(2) {
    @include md-size {
      margin-bottom: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $primary-color;
    background-repeat: no-repeat;
    background-position: center;

    @include retina-display {
      background-size: 50px;
    }

    @include md-size {
      width: 80px;
      height: 80px;
    }
  }

  &--healthy::before {
    background-image: url("../../img/advantage-leaf@1x.png");

    @include retina-display {
      background-image: url("../../img/advantage-leaf@2x.png");
    }
  }

  &--easy::before {
    background-image: url("../../img/advantage-powder@1x.png");

    @include retina-display {
      background-image: url("../../img/advantage-powder@2x.png");
    }
  }

  &--replace::before {
    background-image: url("../../img/advantage-dining@1x.png");

    @include retina-display {
      background-image: url("../../img/advantage-dining@2x.png");
    }
  }

  &--result::before {
    background-image: url("../../img/advantage-clock@1x.png");

    @include retina-display {
      background-image: url("../../img/advantage-clock@2x.png");
    }
  }

  &::after {
    @include md-size {
      position: absolute;
      top: -40px;
      right: 0;
      color: $light-grey-color;
      font-size: 281px;
      line-height: 281px;
    }

    @include lg-size {
      right: -12px;
    }
  }

  &--healthy::after {
    @include md-size {
      content: "1";
      right: 16px;
    }

    @include lg-size {
      right: 7px;
    }
  }

  &--easy::after {
    @include md-size {
      content: "2";
    }
  }

  &--replace::after {
    @include md-size {
      content: "3";
    }
  }

  &--result::after {
    @include md-size {
      content: "4";
    }
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include md-size {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 55px;
    padding-left: 0;
  }
}

.advantages__wrapper {
  @include container();
}
