.advantages__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;

  @include md-size {
    font-size: 60px;
    margin-bottom: 70px;
  }
}

.advantages__item-text {
  @include font-family($secondary-font, "Tahoma");

  line-height: 18px;

  color: $dark-grey-color;
  margin: 0;

  @include md-size {
    font-size: 16px;
    line-height: 24px;
    color: $dark-grey-color;
  }
}

.advantages__item {
  margin-bottom: 30px;

  @include md-size {
    width: 245px;
    margin-bottom: 140px;
    margin-right: 180px;
  }

  @include lg-size {
    width: 235px;
    margin-right: 80px;
    padding-top: 120px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(2n) {
    margin-right: 0;

    @include lg-size {
      margin-right: 80px;
    }
  }

  &:nth-child(4n) {
    @include lg-size {
      margin-right: 0;
    }
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  padding-left: 80px;
  padding-right: 30px;
  list-style: none;

  @include md-size {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }
}

.advantages__wrapper {
  @include container();
}
