.button {
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: $primary-color;
  color: $white-color;
  border: none;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;

  &:hover {
    background-color: $grass-color;
  }

  &:active {
    color: rgba($white-color, 0.3);
  }

  &--secondary {
    color: $dark-grey-color;
    background-color: $light-grey-color;
  }
}
