.button {
  line-height: 18px;
  text-transform: uppercase;
  background-color: $primary-color;
  color: #ffffff;
  border: none;

  &--secondary {
    color: #444444;
    background-color: #f2f2f2;
  }
}
