.catalog {
  @include md-size {
    margin-top: 165px;
  }
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include md-size {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
}

.catalog__item {
  border-bottom: 1px solid $border-color-2;
  padding-bottom: 23px;

  @include md-size {
    width: 324px;
    margin: 0;
    margin-bottom: 140px;
    margin-right: 60px;
    padding-bottom: 39px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    background-color: $light-grey-color;
  }

  @include lg-size {
    width: 245px;
    margin-right: 80px;
  }

  &:first-child {
    border-top: 1px solid $border-color-2;

    @include md-size {
      border-top: none;
    }
  }

  &:nth-child(2n) {
    @include md-size {
      margin-right: 0;
    }

    @include lg-size {
      margin-right: 80px;
    }
  }

  &:nth-child(4n) {
    @include lg-size {
      margin-right: 0;
    }
  }

  &:nth-last-child(2) {
    @include md-size {
      margin-bottom: 0;
    }
  }

  &:last-child {
    @include md-size {
      margin-bottom: 0;
    }
  }

  &:nth-last-child(-n + 4) {
    @include lg-size {
      margin-bottom: 0;
      padding-bottom: 39px;
    }
  }
}

.catalog__wrapper {
  @include md-size {
    @include container();
  }
}
