.copyright {
  @include font-family($secondary-font, "Tahoma");

  font-size: 16px;
}

.copyright__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $dark-grey-color;

  &:hover .copyright__icon-academy {
    fill: $primary-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon-academy {
  width: 27px;
  height: 34px;
  fill: $logo-icon-color;
}
