.copyright {
  @include font-family($secondary-font, "Tahoma");

  font-size: 16px;
}

.copyright__logo {
  color: $dark-grey-color;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover .copyright__logo-image {
    fill: $primary-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo-image {
  width: 27px;
  height: 34px;
  fill: $copyright-logo-color;
}

.copyright__logo-path {
  fill: $dark-grey-color;
}
