.copyright {
  @include font-family($secondary-font, "Tahoma");

  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.copyright__link {
  color: $dark-grey-color;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.copyright__logo-image {
  width: 27px;
  height: 34px;
}

.copyright__logo-path {
  fill: $dark-grey-color;
}
