.example {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $light-grey-color;

  @include md-size() {
    padding-top: 42px;
    padding-bottom: 0;
    border-top: 1px solid $border-color-1;
    background: linear-gradient(
        to bottom,
        $white-color 620px,
        620px,
        transparent
      ),
      linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    background-color: $white-color;
  }

  @include lg-size() {
    position: relative;
    z-index: 10;
    padding-top: 22px;
    padding-bottom: 0;
    border-top: none;
    background: none;
  }

  &::after {
    @include lg-size() {
      content: "";
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 74.5%;
      background: linear-gradient(to right, #f2f2f2 69.2%, #eaeaea 27.5%);
    }
  }
}

.example__wrapper {
  @include container();
  padding-bottom: 20px;

  @include md-size() {
    padding-bottom: 0;
  }

  @include lg-size() {
    display: flex;
    justify-content: space-between;
  }
}

.example__content {
  @include lg-size() {
    width: 560px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 27px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  @include md-size() {
    margin-bottom: 64px;
    font-size: 60px;
  }

  @include lg-size() {
    margin-bottom: 146px;
  }
}

.example__description {
  @include font-family($secondary-font, "Tahoma");
  margin: 0;
  margin-bottom: 25px;
  padding-right: 10px;
  color: $dark-grey-color;
  font-size: 14px;
  line-height: 18px;

  @include md-size() {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @include lg-size() {
    width: 441px;
    margin-bottom: 70px;
  }
}

.example__info {
  @include md-size() {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  @include lg-size() {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;

  @include lg-size() {
    justify-content: flex-start;
  }
}

.example__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 124px;

  &:last-child {
    @include md-size() {
      margin-right: 0;
    }
  }

  @include md-size() {
    width: auto;
    margin-right: 42px;
  }
}

.example__item-description {
  @include font-family($secondary-font, "Tahoma");
  z-index: 10;
  width: 90px;
  margin: 0;
  margin-top: -18px;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: $light-grey-color;
  color: $dark-grey-color;
  font-size: 12px;
  text-align: center;
  text-transform: lowercase;

  @include md-size() {
    width: auto;
    background-color: $white-color;
    font-size: 14px;
    text-align: left;
  }

  @include lg-size() {
    background-color: $light-grey-color;
  }
}

.example__item-amount {
  width: 100%;
  margin: 0;
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 18px;
  padding-left: 15px;
  border: 1px solid $border-color-3;
  border-radius: 3px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;

  @include md-size() {
    width: auto;
    min-width: 162px;
    padding-top: 15px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__total {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 8px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @include md-size() {
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 20px;
  }

  @include lg-size() {
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    margin-top: 25px;
    padding: 20px 0;
    padding-bottom: 76px;
    text-align: left;
  }
}

.example__total-text {
  margin: 0;
  margin-right: 5px;

  @include md-size() {
    margin-top: 2px;
    margin-right: 0;
  }

  @include lg-size() {
    margin: 0;
    margin-right: 64px;
  }
}

.example__total-count {
  font-weight: 400;
  @include md-size() {
    margin-top: 11px;
    text-align: right;
  }

  @include lg-size() {
    margin: 0;
    text-align: left;
  }
}
