.extra {
  padding-top: 15px;
  padding-bottom: 34px;

  @include md-size() {
    padding-top: 20px;
    padding-bottom: 77px;
  }

  @include lg-size() {
    padding-bottom: 87px;
  }
}

.extra__wrapper {
  @include container();

  @include lg-size() {
    display: flex;
    justify-content: space-between;
  }
}

.extra__info {
  @include md-size() {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 14px;
  }

  @include lg-size() {
    align-items: center;
    padding: 0;
  }
}

.extra__title {
  padding-top: 12px;
  padding-bottom: 33px;

  @include md-size() {
    margin-bottom: 65px;
    padding-top: 17px;
    padding-bottom: 15px;
  }

  @include lg-size() {
    padding-top: 26px;
    padding-left: 0;
  }
}

.extra__title-inner {
  padding-left: 0;

  @include md-size() {
    padding-left: 37px;
  }

  &::before,
  &::after {
    @include md-size() {
      top: 55%;
    }
  }

  @include lg-size() {
    padding-left: 40px;
  }
}

.extra__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include lg-size() {
    width: 895px;
  }
}

.extra__item {
  padding-top: 15px;
  padding-bottom: 17px;
  border-bottom: 1px solid $border-color-3;

  &:first-child {
    border-top: 1px solid $border-color-3;

    @include md-size() {
      border-top-color: rgba($border-color-3, 0.5);
    }
  }

  @include md-size() {
    padding-top: 15px;
    padding-right: 38px;
    padding-bottom: 26px;
    padding-left: 37px;
    border-right: 1px solid;
    border-left: 1px solid;

    border-color: rgba($border-color-3, 0.5);
  }

  @include lg-size() {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 16px;
    border-right: none;
    border-left: none;
  }
}

.extra__name {
  margin: 0;
  color: $black-color-secondary;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;

  @include md-size() {
    margin-left: 2px;
    font-size: 20px;
  }

  @include lg-size() {
    width: 284px;
    margin: 0;
    margin-right: 43px;
  }
}

.extra__content {
  display: flex;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;

  @include md-size() {
    padding-top: 4px;
    padding-bottom: 3px;
  }

  @include lg-size() {
    width: 284px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
  }
}

.extra__description {
  @include font-family($secondary-font, "Tahoma");
  width: 50%;
  margin: 0;
  color: $dark-grey-color;
  font-size: 14px;

  @include md-size() {
    width: 200px;
    margin-right: 43px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @include lg-size() {
    margin-right: 44px;
    text-align: left;
  }
}

.extra__price {
  @include font-family($secondary-font, "Tahoma");
  width: 50%;
  color: $dark-grey-color;
  font-size: 14px;
  font-weight: normal;
  text-align: right;

  @include md-size() {
    width: 50px;
    font-size: 16px;
    line-height: 20px;
  }

  @include lg-size() {
    width: 45px;
    text-align: left;
  }
}

.extra__action {
  padding-top: 11px;
  padding-right: 111px;
  padding-bottom: 10px;
  padding-left: 110px;
  font-size: 16px;
  line-height: 20px;

  @include lg-size() {
    width: 245px;
    padding: 10px 20px;
  }
}

.extra__promo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-top: 39px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  background-color: $primary-color;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina-display() {
    background-image: url("../../img/gift-photo-mobile@2x.jpg");
  }

  @include md-size() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    margin-top: 69px;
    padding: 0;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    background-position: center;
    background-size: cover;

    @include retina-display() {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");
    }
  }

  @include lg-size() {
    flex-direction: column;
    width: 245px;
    height: 289px;
    margin: 0;
    padding-top: 65px;
    padding-bottom: 43px;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
    @include retina-display() {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
    }
  }

  &::before {
    content: "";
    display: block;
    position: relative;
    width: 56px;
    height: 61px;
    margin-top: 48px;
    background-image: url("../../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include md-size() {
      width: 240px;
      margin-top: -8px;
    }

    @include lg-size() {
      width: 100%;
      margin-top: 0;
    }
  }
}

.extra__promo-title {
  @include font-family($secondary-font, "Tahoma");
  margin: 0;
  margin-top: 61px;
  color: $white-color;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @include md-size() {
    width: 285px;
    margin-top: 2px;
    text-align: left;
  }

  @include lg-size() {
    width: 100%;
    text-align: center;
  }
}
