.extra {
  padding-top: 15px;
  padding-bottom: 30px;
}

.extra__wrapper {
  @include container();
}

.extra__title {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.extra__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.extra__item {
  padding-top: 15px;
  padding-bottom: 17px;
  border-bottom: 1px solid $border-color-3;

  &:first-child {
    border-top: 1px solid $border-color-3;
  }
}

.extra__name {
  font-size: 16px;
  color: $black-color-secondary;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.extra__content {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.extra__description {
  @include font-family($secondary-font, "Tahoma");
  font-size: 14px;
  color: $dark-grey-color;
  margin: 0;
  width: 50%;
}

.extra__price {
  @include font-family($secondary-font, "Tahoma");
  font-size: 14px;
  color: $dark-grey-color;
  font-weight: normal;
  width: 50%;
  text-align: right;
}

.extra__action {
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 110px;
  padding-right: 111px;
  font-size: 16px;
  line-height: 20px;
}

.extra__promo {
  margin-top: 39px;
}
