.field {
  display: flex;
  align-items: center;
  margin: 0;

  &--with-icon {
    position: relative;
  }
}

.field__label,
.field__input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @include md-size() {
    font-size: 20px;
    line-height: 20px;
  }
}

.field__label {
  flex-shrink: 0;
  color: $black-color-secondary;

  &--input {
    margin-right: 15px;

    @include md-size() {
      margin-right: 16px;
    }
  }

  &--name {
    margin-right: 13px;

    @include md-size() {
      margin-right: 16px;
    }
  }

  &--select {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 45px;
    cursor: pointer;
    user-select: none;

    @include md-size() {
      padding-left: 57px;
    }
  }

  &--email {
    margin-right: 11px;

    @include md-size() {
      margin-right: 21px;
    }
  }

  &--phone {
    margin-right: 9px;

    @include md-size() {
      margin-right: 14px;
    }
  }

  &--weight {
    margin-right: 17px;
    @include md-size() {
      margin-right: 20px;
    }
  }

  &--age {
    @include md-size() {
      margin-right: 18px;
    }
  }
}

.field__input {
  flex-grow: 1;
  width: 100%;
  min-width: 0;
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;
  border: none;
  outline: 1px solid rgba(205, 205, 205, 0.5);
  box-shadow: none;
  color: $dark-grey-color;

  @include md-size() {
    padding-top: 11px;
    padding-right: 19px;
    padding-left: 19px;
  }

  &--icon {
    padding-right: 45px;
  }

  &--comments {
    padding-top: 13px;
    padding-right: 12px;
    padding-bottom: 9px;
    padding-left: 14px;

    @include md-size() {
      padding-top: 14px;
      padding-bottom: 18px;
      padding-left: 18px;
    }

    @include lg-size() {
      padding-top: 16px;
    }
  }

  &:invalid {
    outline: 2px solid $error-color;
  }

  &:hover {
    outline: 1px solid rgba(205, 205, 205, 1);
  }

  &:focus,
  &:active {
    outline: 2px solid $dark-grey-color;
  }
}

.field__icon-holder {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}

/* prettier-ignore */
.field__input--icon:invalid  + .field__icon-holder .field__icon {
  fill: $error-color;
}

.field__input--icon + .field__icon-holder .field__icon,
.field__input--icon:hover + .field__icon-holder .field__icon {
  fill: $black-color-secondary;
}

.field__input--icon:active + .field__icon-holder .field__icon,
.field__input--icon:focus + .field__icon-holder .field__icon {
  fill: $primary-color;
}

.field__select + .field__label--select::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $border-color-3;

  @include md-size() {
    top: -9px;
    left: -1px;
    width: 40px;
    height: 40px;
  }
}

.field__select + .field__label--select {
  &:hover::before {
    border-color: $grey-color-bababa;
  }
}

.field__select:active + .field__label--select {
  opacity: 0.3;
}

.field__select--radio + .field__label--select::before {
  border-radius: 50%;
}

.field__select--radio:checked + .field__label--select::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $primary-color;

  @include md-size() {
    width: 18px;
    height: 18px;
  }
}

.field__select--checkbox:checked + .field__label--select::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 5px;
  width: 22px;
  height: 17px;
  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;

  @include md-size() {
    top: 2px;
    left: 9px;
  }
}
