.footer {
  background-color: #f2f2f2;
}

.footer__wrapper {
  @include container();
}

.footer__logo {
  display: block;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 31px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__social {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
