.footer {
  background-color: $light-grey-color;
}

.footer__wrapper {
  @include container();
}

.footer__logo {
  display: block;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__social {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: $medium-size) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .footer__logo {
    width: 132px;
  }

  .footer__social {
    width: 145px;
  }

  .footer__copyright {
    width: 162px;
  }
}
