.header {
  display: flex;
  flex-direction: column;
}

.header__wrapper {
  width: auto;
}

.header__logo-wrapper {
  width: 320px;
  margin: 0 auto;
}

.header__logo {
  display: inline-block;
  vertical-align: top;
  height: 65px;
}

@media (min-width: $medium-size) {
  .header {
    flex-direction: row;
    margin-top: 25px;
  }

  .header__logo-wrapper {
    width: 191px;
    margin: 0;
    padding: 0;
  }

  .header__logo {
    width: 174px;
    height: 59px;
  }

  .header__logo-image {
    display: block;
  }

  .header__wrapper {
    @include container();

    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $large-size) {
  .header {
    flex-direction: row;
  }

  .header__wrapper {
    width: 1100px;
    margin: 0 auto;
  }

  .header__logo {
    height: 130px;
  }
}
