.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $border-color-1;

  @include md-size {
    flex-direction: row;
    margin-top: 25px;
    border-bottom: none;
  }

  @include lg-size {
    flex-direction: row;
    margin-top: 53px;
  }

  &--main-page {
    border-bottom: none;
    &::before {
      @include lg-size {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        left: 50%;
        height: 696px;
        background-color: $promo-background-color;
        background-image: url("../../img/index-background-desktop@1x.jpg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;

        @include retina-display {
          background-image: url("../../img/index-background-desktop@2x.jpg");
        }
      }
    }
  }
}

.header__wrapper {
  @include md-size {
    @include container();
    display: flex;
    justify-content: space-between;
  }

  @include lg-size {
    width: 1300px;
    margin: 0 auto;
  }
}

.header__logo-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;

  @include md-size {
    width: 175px;
    margin: 0;
    padding: 0;
  }

  @include lg-size {
    width: auto;
  }
}

.header__logo {
  display: inline-block;
  width: 190px;
  height: 40px;
  vertical-align: top;

  @include md-size {
    width: 175px;
    height: 60px;
  }

  @include lg-size {
    width: 203px;
  }
}

.header__logo[href] {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-image {
  @include md-size {
    display: block;
  }
  @include lg-size() {
    width: 100%;
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__nav-toggle {
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
  width: 25px;
  height: 20px;
  border: none;

  background-color: transparent;

  cursor: pointer;

  @include md-size {
    display: none;
  }
}

.header--nav-closed .header__nav-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: $black-color-secondary;
  box-shadow: 0 8px 0 0 $black-color-secondary,
    0 16px 0 0 $black-color-secondary;
}

.header--no-js .header__nav-toggle {
  display: none;
}

.header--nav-closed .header__nav {
  @include sm-size-only {
    display: none;
  }
}

.header--no-js .header__nav {
  @include sm-size-only {
    display: block;
  }
}

.header--nav-opened .header__nav {
  @include sm-size-only {
    display: block;
  }
}

.header--nav-opened .header__nav-toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 5px;
    width: 20px;
    height: 2px;

    background-color: $black-color-secondary;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
