.intro {
  margin-bottom: 80px;

  @include lg-size {
    margin-bottom: 200px;
  }
}

.intro__wrapper {
  position: relative;

  @include md-size {
    @include container();
  }
}

.intro__promo {
  padding-top: 30px;

  @include md-size {
    padding-left: 90px;
    width: 515px;
  }
}

.intro__product-image {
  position: absolute;
  display: block;
  top: 165px;
  // left: 20px;
  left: calc(50% - 145px);
  margin: 0 auto;

  @include md-size {
    position: static;
    margin-top: -100px;
  }

  @include lg-size {
    position: absolute;
    top: 0;
    left: auto;
    right: 260px;
    margin: 0;
  }
}

.intro__button {
  width: 280px;
  margin: 0 auto;
  margin-top: 135px;
  margin-bottom: 20px;

  @include md-size {
    position: relative;
    z-index: 20;
    font-size: 20px;
    line-height: 1;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 245px;
    margin: 0;
    margin-top: 60px;
    margin-left: 90px;
  }
}
