.intro {
  margin-bottom: 22px;

  @include md-size {
    margin-bottom: 0;
  }

  @include lg-size {
    margin-bottom: 200px;
  }
}

.intro__wrapper {
  position: relative;

  @include md-size {
    @include container();
  }
}

.intro__promo {
  padding-top: 30px;

  @include md-size {
    padding-left: 87px;
    width: 515px;
  }

  @include lg-size {
    padding-left: 80px;
  }
}

.intro__product-image {
  position: absolute;
  display: block;
  top: 166px;
  left: calc(50% - 140px);
  margin: 0 auto;

  @include md-size {
    position: static;
    margin-top: -79px;
  }

  @include lg-size {
    position: absolute;
    top: 30px;
    left: auto;
    right: 258px;
    margin: 0;
  }
}

.intro__button {
  width: 280px;
  margin: 0 auto;
  margin-top: 136px;
  margin-bottom: 20px;

  @include md-size {
    position: relative;
    z-index: 20;
    font-size: 20px;
    line-height: 1;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 245px;
    margin: 0;
    margin-top: 48px;
    margin-left: 87px;
  }

  @include lg-size {
    margin-top: 55px;
    margin-left: 80px;
  }
}
