.intro {
  margin-bottom: 80px;
}

.intro__wrapper {
  @include md-size {
    @include container();
  }
}

.intro__promo {
  padding-top: 30px;

  @include md-size {
    padding-left: 90px;
    width: 515px;
  }
}

.intro__product-image {
  margin-top: -265px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include md-size {
    display: none;
  }
}

.intro__button {
  @include container();
  margin-top: 280px;
  margin-bottom: 20px;
  width: $small-size;

  @include md-size {
    font-size: 20px;
    line-height: 1;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 245px;
    margin: 0;
    margin-top: 60px;
  }
}
