.product__info {
  display: flex;
  flex-direction: column;
}

.product__content {
  display: flex;

  @include md-size {
    display: flex;
    flex-direction: column;
  }
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  color: $black-color-primary;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-right: 65px;
  margin: 0;

  @include md-size {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    font-size: 20px;
    align-self: center;
  }
}

.product__details {
  @include font-family($secondary-font, "Tahoma");

  font-size: 12px;
  line-height: 16px;
  color: $dark-grey-color;

  @include md-size {
    width: 245px;
    font-size: 16px;
    margin-bottom: 35px;
  }

  @include lg-size {
    width: 170px;
  }
}

.product__details td {
  @include md-size {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color-3;
  }
}

.product__details-value {
  text-align: right;
}

.product__action {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 110px;
  padding-right: 110px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;

  @include md-size {
    padding-left: 95px;
    padding-right: 95px;
  }

  @include lg-size {
    padding-left: 55px;
    padding-right: 55px;
  }
}

.product__image {
  @include md-size {
    display: block;
    margin: 0;
    margin-top: -65px;
    margin-left: auto;
    margin-right: auto;
  }
}
