.product__title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  font-weight: 400;
}

.product__details {
  @include font-family($secondary-font, "Tahoma");
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
