.profile-form__notes {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 15px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.profile-form__subtitle {
  @include font-family($secondary-font, "Tahoma");
  color: $dark-grey-color;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
