.programs__item-title {
  font-size: 24px;
  line-height: 37px;
  color: $black-color-primary;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-left: 90px;
  margin-bottom: 30px;

  @include md-size {
    font-size: 36px;
    margin-left: 0;
    margin-bottom: 30px;
  }

  @include lg-size {
    margin-bottom: 70px;
    margin-left: 165px;
  }
}

.programs__item-description {
  @include font-family($secondary-font, "Tahoma");

  line-height: 18px;
  color: $dark-grey-color;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-color-4;

  @include md-size {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }
}

.programs__item-link {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  color: $black-color-primary;
  padding-right: 35px;
  display: inline-block;
  vertical-align: top;

  @include md-size {
    font-size: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 15px;
    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include md-size {
      height: 20px;
    }
  }
}

.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include lg-size {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  position: relative;
  background-color: $light-grey-color;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;

  @include md-size {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 275px;
    margin-bottom: 30px;
  }

  @include lg-size {
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 55px;
    width: 570px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $primary-color;

    @include md-size {
      top: 90px;
      left: auto;
      right: 60px;
      width: 200px;
      height: 200px;
    }

    @include lg-size {
      width: 100px;
      height: 100px;
      top: 60px;
      left: 50px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--slim::after {
    top: 23px;
    left: 20px;
    width: 55px;
    background-image: url("../../img/icon-cat-slim.svg");

    @include md-size {
      top: 80px;
      left: auto;
      right: 90px;
      width: 140px;
      height: 195px;
    }

    @include lg-size {
      top: 50px;
      left: 65px;
      width: 70px;
      height: 100px;
    }
  }

  &--pro::after {
    left: 10px;
    width: 65px;
    background-image: url("../../img/icon-cat-pro.svg");

    @include md-size {
      top: 130px;
      left: auto;
      right: 25px;
      width: 270px;
      height: 115px;
    }

    @include lg-size {
      top: 80px;
      left: 30px;
      width: 135px;
      height: 60px;
    }
  }
}

.programs__wrapper {
  @include container();

  @include md-size {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include lg-size {
    margin: 0 auto;
    width: $large-size;
    padding-left: 40px;
    padding-right: 40px;
  }
}
