.programs__item-title {
  font-size: 24px;
  line-height: 37px;
  color: $black-color-primary;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-left: 92px;
  margin-bottom: 36px;
}

.programs__item-description {
  @include font-family($secondary-font, "Tahoma");

  line-height: 18px;
  color: $dark-grey-color;
  margin: 0;
  margin-bottom: 20px;
}

.programs__item-link {
  font-size: 16px;
  text-transform: uppercase;
  color: $black-color-primary;
}

.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.programs__item {
  background-color: $light-grey-color;
  padding-top: 39px;
  padding-bottom: 22px;
  padding-left: 21px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.programs__item:last-child {
  margin-bottom: 0;
}

.programs__wrapper {
  @include container();
}

@media (min-width: $medium-size) {
  .programs__wrapper {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $large-size) {
  .programs__item {
    width: 570px;
  }
}
