.show-more {
  padding-top: 25px;
  padding-bottom: 25px;

  @include md-size {
    padding-top: 56px;
    border: 1px solid rgba($border-color-3, 0.5);
    background-color: transparent;
  }

  @include lg-size {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.show-more__title {
  margin: 0;
  margin-top: 25px;
  color: $black-color-primary;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @include md-size {
    margin-top: 48px;
    margin-bottom: 25px;
    padding-right: 75px;
    padding-left: 75px;
    font-size: 20px;
  }

  @include lg-size {
    padding-right: 23px;
    padding-left: 23px;
  }
}

.show-more__description {
  @include font-family($secondary-font, "Tahoma");
  margin: 0;
  margin-top: 7px;
  color: $dark-grey-color;

  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @include md-size {
    padding-right: 75px;
    padding-left: 75px;
    font-size: 16px;
  }

  @include lg-size {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.show-more__icon {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  border: none;
  background: transparent;
  background-image: url("../../img/icon-plus-mobile.svg");

  @include md-size {
    width: 60px;
    height: 60px;

    background-image: url("../../img/icon-plus.svg");
  }
}

.show-more__show-all {
  width: 100%;
  margin-top: 21px;
  font-size: 16px;
  line-height: 20px;

  @include md-size {
    width: 245px;
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 75px;
    padding-left: 75px;
  }

  @include lg-size {
    width: 165px;
    padding-right: 35px;
    padding-left: 35px;
  }
}
