.site-list {
  @include font-family($primary-font);

  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: $black-color-primary;
  margin: 0;
  padding: 0;
  list-style: none;

  @include md-size {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    justify-content: space-between;
  }

  @include lg-size {
    font-size: 20px;
  }
}

.site-list__item {
  border-bottom: 1px solid $border-color-2;

  @include md-size {
    border: none;
    margin-right: 20px;
  }

  &:first-child {
    border-top: 1px solid $border-color-2;

    @include md-size {
      border: none;
    }
  }

  &:last-child {
    @include md-size {
      margin-right: 0;
    }
  }

  &--active {
    @include md-size {
      position: relative;
    }

    &::after {
      @include md-size {
        content: "";

        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;

        height: 2px;

        background: $primary-color;
      }
    }
  }
}

.site-list__item-link {
  color: $black-color-primary;
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @include md-size {
    color: $black-color-secondary;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.site-list__item-link[href] {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list--main-page .site-list__item-link {
  @include lg-size {
    color: $white-color;
  }
}

.site-list--main-page .site-list__item--active {
  &::after {
    @include lg-size {
      background-color: $white-color;
    }
  }
}
