.site-list {
  @include font-family($primary-font);
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item-link {
  color: #000000;
  display: block;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #000000;
}
