.slider {
  @include md-size() {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -30px;
    margin-left: -30px;
    overflow: hidden;
    background-image: linear-gradient(
      $white-color 0,
      $white-color 180px,
      $light-grey-color 180px,
      $white-color 100%
    );
  }
}

.slider__gallery {
  @include md-size() {
    position: relative;
    width: 680px;
    height: 517px;
  }
}

.slider__image {
  margin-right: -20px;
  margin-left: -20px;

  @include md-size() {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    align-items: center;
    width: 50%;
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
  }

  &--after {
    display: none;
    @include md-size() {
      display: flex;
      right: 0;
      align-items: flex-end;
      justify-content: flex-end;
      background-image: linear-gradient(
        $white-color 0,
        $white-color 180px,
        #eaeaea 180px,
        #eaeaea 100%
      );
      box-shadow: 400px 580px 0 400px #eaeaea;
    }
  }
}

.slider__image img {
  @include md-size() {
    width: 680px;
    max-width: inherit;
    height: 517px;
  }
}

.slider__text {
  display: block;
  margin-left: 3px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;

  @include md-size() {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.23);
    font-size: 20px;
  }
}

.slider__scale {
  display: flex;
  align-items: center;
  width: 85px;
  height: 14px;
  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;
  border: 1px solid $border-color-3;
  border-radius: 6px;
  background-color: $white-color;

  @include md-size() {
    width: 428px;
    padding: 0;
    border: none;
    border-radius: 2.5px;
    background-color: $slider-scale-color;
  }
}

.slider__bar {
  width: 50%;
  height: 6px;
  border-radius: 3px;
  background-color: $primary-color;

  @include md-size() {
    position: relative;
    width: 34px;
    height: 34px;
    margin: 0 auto;
    border: 1px solid $border-color-3;
    border-radius: 50%;
    background-color: $white-color;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  &:before {
    @include md-size() {
      content: "";
      position: absolute;
      top: calc(50% - 4px);
      left: calc(50% - 4px);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $primary-color;
    }
  }
}

.slider__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;

  @include md-size() {
    z-index: 10;
    width: auto;
    margin-bottom: 20px;
  }
}

.slider__toggle--before:checked ~ .slider__gallery .slider__image--before,
.slider__toggle--after:checked ~ .slider__gallery .slider__image--after {
  @include sm-size-only() {
    display: block;
  }
}

.slider__toggle--before:checked ~ .slider__gallery .slider__image--after,
.slider__toggle--after:checked ~ .slider__gallery .slider__image--before {
  @include sm-size-only() {
    display: none;
  }
}

.slider__toggle--before:checked ~ .slider__controls .slider__bar {
  margin-left: 0;

  @include md-size() {
    margin-left: calc(50% - 17px);
  }
}

.slider__toggle--after:checked ~ .slider__controls .slider__bar {
  margin-left: 50%;

  @include md-size() {
    margin-left: calc(50% - 17px);
  }
}
