.slider {
  @include md-size() {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    margin-right: -30px;
    margin-left: -30px;
    padding-bottom: 50px;
  }

  &::after {
    @include md-size() {
      content: "";
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 0;
      left: 0;
      height: 462px;

      background: linear-gradient(
        to right,
        #f2f2f2 50%,
        $example-gradient-color 50%
      );
    }
  }

  @include md-size() {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -30px;
    margin-left: -30px;
    overflow: hidden;
  }
}

.slider__gallery {
  @include md-size() {
    display: flex;
    position: relative;
    width: 690px;
    max-width: inherit;
    height: 517px;
  }
}

.slider__image {
  margin-right: -20px;
  margin-left: -20px;

  @include md-size() {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  &--before {
    @include md-size() {
      clip: rect(auto, 345px, auto, auto);
    }
  }

  &--after {
    @include md-size() {
      clip: rect(auto, auto, auto, 345px);
    }
  }
}

.slider__image img {
  @include md-size() {
    width: 690px;
    max-width: inherit;
    height: 517px;
  }
}

.slider__text {
  display: block;
  margin-left: 3px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;

  @include md-size() {
    margin-left: 0;
    padding-bottom: 5px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.23);
    font-size: 20px;
  }

  &:hover {
    @include md-size() {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }
  }

  &--left {
    @include md-size() {
      margin-right: 20px;
    }
  }

  &--right {
    @include md-size() {
      margin-left: 20px;
    }
  }
}

.slider__scale {
  display: flex;
  align-items: center;
  width: 85px;
  height: 14px;
  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;
  border: 1px solid $border-color-3;
  border-radius: 6px;
  background-color: $white-color;

  @include md-size() {
    width: 428px;
    height: 6px;
    padding: 0;
    border: none;
    border-radius: 2.5px;
    background-color: $slider-scale-color;
  }
}

.slider__bar {
  width: 50%;
  height: 6px;
  border-radius: 3px;
  background-color: $primary-color;

  @include md-size() {
    position: relative;
    width: 34px;
    height: 34px;
    margin: 0 auto;
    border: 1px solid $border-color-3;
    border-radius: 50%;
    background-color: $white-color;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  &:hover {
    @include md-size {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &:active {
    @include md-size {
      border: 2px solid $primary-color;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }

  &:before {
    @include md-size() {
      content: "";
      position: absolute;
      top: calc(50% - 4px);
      left: calc(50% - 4px);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $primary-color;
    }
  }
}

.slider__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;

  @include md-size() {
    z-index: 10;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.slider__toggle--before:checked ~ .slider__gallery .slider__image--before,
.slider__toggle--after:checked ~ .slider__gallery .slider__image--after {
  @include sm-size-only() {
    display: block;
  }
}

.slider__toggle--before:checked ~ .slider__gallery .slider__image--after,
.slider__toggle--after:checked ~ .slider__gallery .slider__image--before {
  @include sm-size-only() {
    display: none;
  }
}

.slider__toggle--before:checked ~ .slider__controls .slider__bar {
  margin-left: 0;

  @include md-size() {
    margin-left: calc(50% - 17px);
  }
}

.slider__toggle--after:checked ~ .slider__controls .slider__bar {
  margin-left: 50%;

  @include md-size() {
    margin-left: calc(50% - 17px);
  }
}
