.subject-title {
  font-size: 24px;
  font-weight: 400;

  &--extra {
    margin-bottom: 10px;
  }
}

.subject-title span {
  display: table;
  position: relative;
  padding-right: 21px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    width: 9999px;
    height: 3px;
    transform: translate(0, -50%);
    background: $primary-color;
  }
}

.subject-title--wrap span {
  &::after {
    top: 31%;
  }
}
