.subject-title {
  margin: 0;
  margin-bottom: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  font-size: 24px;
  font-weight: 400;
}

.subject-title span {
  position: relative;
  padding-right: 15px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    width: 9999px;
    height: 3px;
    transform: translate(0, -50%);
    background: $primary-color;
  }
}
