body {
  margin: 0;
  background-color: $body-color;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: $box-sizing;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
