@mixin font-family($font, $fallback: "Arial") {
  font-family: $font, $fallback, sans-serif;
}

@mixin container {
  width: $small-size;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $medium-size) {
    width: $medium-size;
    padding: 0 30px;
  }

  @media (min-width: $large-size) {
    width: $large-size;
    padding: 0 100px;
  }
}
