@mixin font-family($font, $fallback: "Arial") {
  font-family: $font, $fallback, sans-serif;
}

@mixin sm-size() {
  @media (min-width: $small-size) {
    @content;
  }
}

@mixin md-size() {
  @media (min-width: $medium-size) {
    @content;
  }
}

@mixin lg-size() {
  @media (min-width: $large-size) {
    @content;
  }
}

@mixin container {
  width: $small-size;
  margin: 0 auto;
  padding: 0 20px;

  @include md-size {
    width: $medium-size;
    padding: 0 30px;
  }

  @include lg-size {
    width: $large-size;
    padding: 0 40px;
  }
}
