$box-sizing: border-box;

$primary-font: "Oswald";
$secondary-font: "Arial";

// colors
$white-color: #ffffff;
$primary-color: #68b738;
$promo-background-color: #63a73a;
$grass-color: #5eaa2f;
$logo-icon-color: #666666;

$border-color-1: #e6e6e6;
$border-color-2: #ededed;
$border-color-3: #cdcdcd;
$border-color-4: #d9d9d9;
$border-color-5: #e7e7e7;
$border-color-6: #d3d3d3;

$black-color-primary: #111111;
$black-color-secondary: #222222;
$dark-grey-color: #444444;
$light-grey-color: #f2f2f2;
$grey-color-bababa: #bababa;
$light-grey-color-darker: #ebebeb;
$error-color: #ff8282;
$slider-scale-color: #dcdcdc;

$small-size: 320 * 1px;
$medium-size: 768 * 1px;
$large-size: 1300 * 1px;

$small-size-only: $medium-size - 1;

$small-container: 320 * 1px;
$medium-container: 708 * 1px;
$large-container: 1100 * 1px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
