$box-sizing: border-box;

$primary-font: "Oswald";
$secondary-font: "Arial";

// colors
$white-color: #ffffff;
$primary-color: #68b738;
$border-color: #ededed;

$black-color: #111111;
$dark-grey-color: #444444;
$light-grey-color: #f2f2f2;

$small-size: 320 * 1px;
$medium-size: 768 * 1px;
$large-size: 1300 * 1px;

$small-container: 320 * 1px;
$medium-container: 708 * 1px;
$large-container: 1100 * 1px;
